@import "../../assets/styles/index.scss";

.result-main-container {
  background-color: $purple;
  img {
    width: 100%;
  }
  .result-container {
    width: 100%;
    background: $white;
    position: relative;
    border-radius: 20px 20px 0 0;
    h4 {
      font-size: 30px;
      font-weight: 700;
      margin: 30px;
    }
    img {
      width: 300px;
      height: 300px;
    }
    .circular-progress-bar-container {
      position: relative;
      .percent {
        position: absolute;
        top: 110px;
        left: 45%;
        transform: translateX(-45%);
        color: $black;
        font-size: 30px;
        font-weight: 800;
      }
    }
    .ans-container {
      margin: -40px 20px 0;
      .right-ans-container {
        @include flexBox(row, "", column);
        padding: 20px;
        height: 100%;
        font-weight: 900;
        background-color: $light-green;
        border-radius: 12px;
        .indicator {
          margin-right: 10px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-color: $green;
        }
        .text {
          margin-left: 10px;
          color: $dark-grey;
          font-weight: 700;
        }
      }

      .wrong-ans-container {
        @include flexBox(row, "", column);
        padding: 20px;
        margin: 20px 0;
        font-weight: 900;
        height: 100%;
        background-color: $light-red;
        border-radius: 12px;
        .indicator {
          margin-right: 10px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-color: $red;
        }
        .text {
          margin-left: 10px;
          color: $dark-grey;
          font-weight: 700;
        }
      }
    }
  }
}
