@import "./assets/styles/index.scss";

.main-container {
  text-align: center;
  height: 100vh;

  .page-content {
    @include flexBox(column, "", center);
    box-shadow: -1.5px 3.5px 10.5px 2.5px rgba(222, 222, 222, 0.43);
    width: 40%;
    height: 90vh;
    margin: 35px auto;
  }
}