$red: #ff3b40;
$white: #FFFFFF;
$purple: #AE9BF2;
$grey: #F3F4FA;
$black: #000000;
$dark-grey: #AEAEAE;
$green: #44B77B;
$light-green: #E9F7F0;
$light-red: #FFE8EA;

:export {
    red: $red;
    white: $white;
    purple: $purple;
    grey: $grey;
    green: $green;
}